/* Etch-A-Sketch CSS
   Author: tommaho
*/

body {
  background-color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 600px;
  height: 600px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex: 15px;
  padding: 0;
  margin: 0;
}

.grid-square {
  background-color: cornflowerblue;
  border: solid white 1px;
}

.controls {
  width: 598px;
  /* //height: 30px; */
  background-color: darkblue;
  border: solid white 1px;
  margin: 0px;
  padding: 0px;
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 25px;
}
